html,
body {
  margin: 0;
  padding: 0;
  color: #fcf6f6;
  overflow: hidden;
  background-image: url(bkg-img.jpeg);
  background-size: cover;
  font-family: sans-serif;
}

.clock {
  position: absolute;
  right: 60px;
  text-align: center;
}

.hour {
  font-size: 240px;
  font-weight: 700;
  margin-bottom: -80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.minutes {
  font-size: 120px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-left: 80px;
  margin-bottom: -30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.seconds {
  font-weight: 400;
  font-size: 55px;
  letter-spacing: 2px;
  margin-left: 116px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.week div {
  display: inline-block;
}

.week .day {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  color: #fff;
}