html,
body {
  margin: 0;
  padding: 0;
  color: #fcf6f6;
  overflow: hidden;
  background-image: url(bkg-img.jpeg);
  background-size: cover;
  font-family: sans-serif;
}

.clock {
  position: absolute;
  right: 60px;
  text-align: center;
}

.hour {
  font-size: 240px;
  font-weight: 700;
  margin-bottom: -80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.minutes {
  font-size: 120px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-left: 80px;
  margin-bottom: -35px;
}